@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
    --cor01: #05AFF2;
    --cor02: #6fe2fc; 
    --cor03: #E1F25E; 
    --cor04: #e0db93; 
    --cor05: #F24C3D; 

    --fonte-padrao: 'Roboto', sans-serif;
    --fonte-titulos: 'Anton', sans-serif;
    --fonte-destaque: 'Lobster', cursive;
}
main strong{
    font-family: var(--fonte-destaque);
}
