@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
main{
    height: 100vh;
    position: relative;
}
body{
    background: url('../images/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /*ajusta a imagem e evita que apareça o fundo*/
    background-attachment: fixed;/*faz o fundo ser travado sem rolagem*/
}
section#telefone{
    height: 627px;
    width: 311px;
    position: absolute;
    background-color: violet;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*faz com que a medida da posição seja feita pelo meio do objeto e não pela extemidade esquerda como é o padrão*/
    background: url('../images/frame-iphone.png') no-repeat;
}