@charset "UTF-8";
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf);
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: 'Android', Times, serif;
}
h2{
    font-family: 'Android', Times, serif;
}
header{
    background-image: linear-gradient(to bottom, #09ff00, #048300);
} 
header > h1{
    color: white;
}
header > p{
    color: white;
}